In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("johnp47/sql-murder-mystery-database")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/sql-murder-mystery-database

In [2]:
import sqlite3
import pandas as pd

In [3]:
# Connect to the database
database = "/kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db"
conn = sqlite3.connect(database)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Tables's Names
for t in tables:
    print(t)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [4]:
# First 5 rows of the table 'crime_scene_report'

query = "SELECT * FROM crime_scene_report LIMIT 5;"
df = pd.read_sql(query, conn)
df

,date,type,description,city
0,20180115,robbery,A Man Dressed as Spider-Man Is on a Robbery Spree,NYC
1,20180115,murder,Life? Dont talk to me about life.,Albany
2,20180115,murder,"Mama, I killed a man, put a gun against his he...",Reno
3,20180215,murder,REDACTED REDACTED REDACTED,SQL City
4,20180215,murder,Someone killed the guard! He took an arrow to ...,SQL City

####   This is the pythonic way to write SQL queries in Python.
There's another way, more clear and faster to make SQL queries and that is **"Magic Commands"** or just **"Magics"**.
To do it, we need the following:

In [5]:
%load_ext sql  

%sql sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db

from prettytable import TableStyle
from sql import run

run.prettytable.DEFAULT = TableStyle.MSWORD_FRIENDLY

#### It's very important to have a preview from every table in the database

So, let's see the first five rows from each one

In [6]:
%sql SELECT * FROM drivers_license LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(100280, 72, 57, 'brown', 'red', 'male', 'P24L4U', 'Acura', 'MDX'),
 (100460, 63, 72, 'brown', 'brown', 'female', 'XF02T6', 'Cadillac', 'SRX'),
 (101029, 62, 74, 'green', 'green', 'female', 'VKY5KR', 'Scion', 'xB'),
 (101198, 43, 54, 'amber', 'brown', 'female', 'Y5NZ08', 'Nissan', 'Rogue'),
 (101255, 18, 79, 'blue', 'grey', 'female', '5162Z1', 'Lexus', 'GS')]

In [7]:
%sql SELECT * FROM person LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(10000, 'Christoper Peteuil', 993845, 624, 'Bankhall Ave', 747714076),
 (10007, 'Kourtney Calderwood', 861794, 2791, 'Gustavus Blvd', 477972044),
 (10010, 'Muoi Cary', 385336, 741, 'Northwestern Dr', 828638512),
 (10016, 'Era Moselle', 431897, 1987, 'Wood Glade St', 614621061),
 (10025, 'Trena Hornby', 550890, 276, 'Daws Hill Way', 223877684)]

In [8]:
%sql SELECT * FROM facebook_event_checkin LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(28508, 5880, 'Nudists are people who wear one-button suits.\n', 20170913),
 (63713, 3865, "but that's because it's the best book on anything for the layman.\n", 20171009),
 (63713, 3999, "        If Murphy's Law can go wrong, it will.\n", 20170502),
 (63713, 6436, 'Old programmers never die.  They just branch to a new address.\n', 20170926),
 (82998, 4470, 'Help a swallow land at Capistrano.\n', 20171022)]

In [9]:
%sql SELECT * FROM interview LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(28508, '‘I deny it!’ said the March Hare.\n'),
 (63713, '\n'),
 (86208, 'way, and the whole party swam to the shore.\n'),
 (35267, 'lessons in here? Why, there’s hardly room for YOU, and no room at all\n'),
 (33856, '\n')]

In [10]:
%sql SELECT * FROM get_fit_now_member LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[('NL318', 65076, 'Everette Koepke', 20170926, 'gold'),
 ('AOE21', 39426, 'Noe Locascio', 20171005, 'regular'),
 ('2PN28', 63823, 'Jeromy Heitschmidt', 20180215, 'silver'),
 ('0YJ24', 80651, 'Waneta Wellard', 20171206, 'gold'),
 ('3A08L', 32858, 'Mei Bianchin', 20170401, 'silver')]

In [11]:
%sql SELECT * FROM get_fit_now_check_in LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[('NL318', 20180212, 329, 365),
 ('NL318', 20170811, 469, 920),
 ('NL318', 20180429, 506, 554),
 ('NL318', 20180128, 124, 759),
 ('NL318', 20171027, 418, 1019)]

In [12]:
%sql SELECT * FROM income LIMIT 5;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(100009868, 52200),
 (100169584, 64500),
 (100300433, 74400),
 (100355733, 35900),
 (100366269, 73000)]

After we had a look from all the tables, let's use the given information from our case:

" There's been a **Murder** in **SQL City**! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime. "

" A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​**murder**​ that occurred sometime on ​**Jan.15, 2018**​ and that it took place in ​**SQL City**​. Start by retrieving the corresponding crime scene report from the police department’s database. "

In [13]:
%%sql
SELECT * 
FROM crime_scene_report
WHERE "date" = 20180115
AND "type" = 'murder'
AND "city" = 'SQL City';

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(20180115, 'murder', 'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".', 'SQL City')]

###  Next clues:
- 2 **witnesses**
- 1st lives at **last** house on **"Northwestern Dr"**
- The 2nd is called **Annabel** and lives on **"Franklin Ave**

In [14]:
%%sql
SELECT * 
FROM person
WHERE ("address_street_name" = 'Northwestern Dr') 
    AND (address_number = (SELECT MAX(address_number) 
                          FROM person WHERE address_street_name = 'Northwestern Dr'))
OR (address_street_name = 'Franklin Ave' AND ("name" LIKE '%Annabel%'));

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', 111564949),
 (16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', 318771143)]

We will examine what **Morty Schapiro** and **Annabel Miller** state:

In [15]:
%%sql
SELECT i.person_id, p.name, i.transcript
FROM interview i
JOIN person p
ON i.person_id = p.id
WHERE i.person_id IN # I did this just to add the knowledge of a subquery.
                     # Of course the simplest way is WHERE p.name IN ("Morty Schapiro", "Annabel Miller")
(
    SELECT id FROM person 
    WHERE 
        (address_street_name = 'Northwestern Dr' 
          AND (address_number = (SELECT MAX(address_number) 
                                 FROM person 
                                 WHERE address_street_name = 'Northwestern Dr'
                                 )
               )
        )
    OR (address_street_name = 'Franklin Ave' 
        AND (name LIKE '%Annabel%')
       )
);

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: SELECT i.person_id, p.name, i.transcript
FROM interview i
JOIN person p
ON i.person_id = p.id
WHERE i.person_id IN # I did this just to add the knowledge of a subquery.
                     # Of course the simplest way is WHERE p.name IN ("Morty Schapiro", "Annabel Miller")
(
    SELECT id FROM person
    WHERE
        (address_street_name = 'Northwestern Dr'
          AND (address_number = (SELECT MAX(address_number)
                                 FROM person
                                 WHERE address_street_name = 'Northwestern Dr'
                                 )
               )
        )
    OR (address_street_name = 'Franklin Ave'
        AND (name LIKE '%Annabel%')
       )
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Clues

- **Witness 1 (Morty Schapiro)**  
  - _Gunshot_ and saw a _man_ run out.  
  - The man was carrying a **"Get Fit Now Gym" bag**.  
  - The **membership number** on the bag started with **"48Z"**.  
  - Only **gold members** have those bags.  
  - The man got into a car with a license plate containing **"H42W"**.  

- **Witness 2 (Annabel Miller)**  
  - Murder happen.  
  - Recognized the killer from the **gym**.  
  - She had seen him working out last week on **January 9th**.

In [16]:
%%sql
SELECT * FROM get_fit_now_member gym
JOIN person p ON p.id = gym.person_id 
JOIN drivers_license dl ON dl.id = p.license_id
WHERE gym.id LIKE '48Z%'
AND (gym.membership_status = 'gold')
AND gym.membership_start_date < 20180109
AND dl.plate_number LIKE "%H42W%";

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold', 67318, 'Jeremy Bowers', 423327, 530, 'Washington Pl, Apt 3A', 871539279, 423327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Chevrolet', 'Spark LS')]

#### So, the murderer is **Jeremy Bowers** and he state:

In [17]:
%%sql
SELECT * FROM interview i
JOIN person p
ON p.id = i.person_id
WHERE p.name = "Jeremy Bowers";

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(67318, 'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n', 67318, 'Jeremy Bowers', 423327, 530, 'Washington Pl, Apt 3A', 871539279)]

##### The woman who hired him has the following:
- Height: 65"-67"
- Hair Color: Red
- Car: Tesla Model S
- Income: A lot of money
- Hobby: SQL Symphony Concert

In [18]:
%%sql
SELECT * FROM drivers_license dl
JOIN person p ON p.license_id = dl.id
JOIN facebook_event_checkin fb ON fb.person_id = p.id

WHERE dl.height BETWEEN 65 AND 68
AND dl.hair_color = "red"
AND dl.car_make = "Tesla"
AND dl.car_model LIKE "%S%"
AND fb.event_name LIKE "%Symphony%";

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S', 99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388, 99716, 1143, 'SQL Symphony Concert', 20171206),
 (202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S', 99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388, 99716, 1143, 'SQL Symphony Concert', 20171212),
 (202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S', 99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388, 99716, 1143, 'SQL Symphony Concert', 20171229)]

In [19]:
%sql SELECT * FROM income WHERE ssn = 987756388;

 * sqlite:////kaggle/input/sql-murder-mystery-database/sql-murder-mystery.db
Done.

[(987756388, 310000)]

### Finally, the Mystery Murder in SQL City solved!

#### **Miranda Priestly** hired **Jeremy Bowers** and he killed the victim!